@import '../../../common/stylesheets/base/color.scss';
@import '../../../common/stylesheets/base/font.scss';
@import '../../../common/stylesheets/base/mixin.scss';
@import '../../../common/stylesheets/base/variable.scss';
@import '../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: $bg;
}
.topbtn {
	position: fixed;
	width: 4rem;
	height: 4rem;
	right: 4%;
	bottom: 5rem;
	background-color: $bg;
	display: none;
	z-index: 9999;
	@include box-sizing(border-box);
	padding: 0.7rem 0.5rem 0.5rem 0.5rem;
	@include box-shadow(0 5px 15px rgba(63, 63, 63, 0.3));
	@include transition(all 0.3s ease);
	cursor: pointer;
	div {
		position: relative;
		width: 1rem;
		height: 1rem;
		display: inline-block;
		margin-left: calc((100% - 1rem) / 2);
		@include flexbox();
		@include align-items(center);
		img {
			position: relative;
			width: 100%;
			height: auto;
		}
	}
	p {
		position: relative;
		width: 100%;
		font-family: 'Gotham';
		font-weight: 300;
   		font-style: normal;
   		font-size: 1rem;
   		color: $point;
   		text-align: center;
   		margin-top: 0.5rem;
	}
	&.appear {
		display: inline-block;
	}
	&:hover {
		@include box-shadow(0 5px 15px rgba(63, 63, 63, 0.6));
	}
}
.container {
	width: 100%;
	position: relative;
	overflow: hidden;
	.brief {
		position: relative;
		width: 92%;
		height: 25vw;
		margin-left: 4%;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		.brief-img {
			position: relative;
			width: 33%;
			height: 100%;
			margin-left: 62%;
			overflow: hidden;
			img {
				position: relative;
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.brief-info {
			position: absolute;
			top: 0;
			left: calc(100% / 12);
			width: calc((100% / 12) * 7);
			height: 100%;
			@include box-sizing(border-box);
			padding: 1% 0 1% 0;
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(center);
			.brief-info__category {
				position: relative;
				width: 9.5rem;
				height: 1.5rem;
				margin-top: 1.5rem;
				img {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.brief-info__title {
				position: relative;
				font-size: 4rem;
				font-family: 'Teko';
				font-weight: 500;
				color: white;
				line-height: 0.9;
				letter-spacing: 7px;
				margin-top: 2rem;
			}
			.brief-info__content {
				position: relative;
				width: 100%;
				height: 7rem;
				background-color: rgba(255, 255, 255, 0.7);
				@include box-sizing(border-box);
				padding: 0 2rem 0 2rem;
				@include flexbox();
				@include align-items(center);
				margin-top: 2rem;
				.info-content__text {
					width: 14%;
					margin-left: 2%;
					display: inline-block;
					&.purpose {
					}
					&.period {
						width: 32%;
					}
					&.skill {
						width: 50%;
					}
					.info-content__text-title {
						position: relative;
						width: 100%;
						font-size: 1rem;
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-weight: 300; 
						color: $gray1;
					}
					.info-content__text-body {
						position: relative;
						width: 100%;
						font-size: 1.2rem;
						font-family: 'Nanum Barun Gothic', sans-serif;
						color: $gray1;
						font-weight: 700;
						margin-top: 0.5rem;
					}
				}
			}
		}
	}
	.btn-wrapper {
		position: absolute;
		top: 30vw;
		left: 0;
		right: 0;
		width: 100%;
		height: 4rem;
		@include flexbox();
		&.sticky {
			position: fixed;
			top: -4rem;
			left: 0;
			background-color: $gray1;
			z-index: 9990;
			@include transform(translateY(4rem));
			@include transition(transform 0.3s ease, background-color 0.3s ease);
			.btn-tab {
				z-index: 9991;
				margin-left: 0;
				&:nth-of-type(1) {
					margin-left: 27.5%;
				}
				&.current {
					a {
						border: none;
						background-color: #d5c791;
					}
				}
				a {
					border: none;
					&:hover {
						border: none;
						background-color: #d5c791;
					}
					p {
						color: white;
					}
				}
			}
		}
		.btn-tab {
			width: 15%;
			height: 100%;
			margin-left: 2%;
			&:nth-of-type(1) {
				margin-left: 25.5%;
			}
			&.current {
				a {
					background-color: #212528;
					border: 1px solid #212528;
					p {
						color: white;
						font-weight: 400;
					}
				}
			}
			a {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: 1px solid #212528;
				text-decoration: none;
				text-align: center;
				@include flexbox();
				@include align-items(center);
				&:hover {
					background-color: #212528;
					border: 1px solid #212528;
					p {
						color: white;
						font-weight: 400;
					}
				}
				p {
					width: 100%;
					text-decoration: none;
					color: $gray1;
					font-family: 'Nanum Barun Gothic', sans-serif;
					font-weight: 300; 
					font-size: 1rem;
				}
			}
		}
	}
	.contents {
		position: relative;
		width: 100%;
		margin-top: 13vw;
		.content {
			.content-title {
				position: relative;
				width: 40%;
				margin-left: 30%;
				&.dark {
					.content-title__line {
						background-color: white;
					}
					.content-title__subtitle {
						color: white;
					}
					.content-title__title {
						color: white;
					}
				}
				.content-title__line {
					position: relative;
					width: 8rem;
					height: 1px;
					margin-left: calc((100% - 8rem) / 2);
					display: inline-block;
					background-color: $gray1;
					&.bottom {
						margin-top: -0.3rem;
					}
				}
				.content-title__subtitle {
					width: 100%;
					height: 0.7rem;
					text-align: center;
					font-family: 'Gotham';
					font-weight: 300;
   					font-style: normal;
					font-size: 1rem;
					line-height: 1;
					color: $gray1;
					margin-top: 0.3rem;
				}
				.content-title__title {
					width: 100%;
					text-align: center;
					font-family: 'Teko';
					font-weight: 500;
					font-size: 2.85rem;
					line-height: 1;
					color: $gray1;
					letter-spacing: 5px;
					margin-top: 0.5rem;
				}
			}
		}
		.content-01 {
			position: relative;
			width: 100%;
			height: 36vw;
			@include box-sizing(border-box);
			padding: 9% 12% 0 12%;
			background-color: #5b5b5b;
			overflow: hidden;
			.content-01__text {
				position: relative;
				font-family: 'Nanum Barun Gothic';
				font-size: 1rem;
				color: white;
				line-height: 1.8;
				text-align: center;
				width: 50%;
				margin-left: 25%;
			}
			.content-01__img {
				position: relative;
				width: 100%;
				margin-top: -2rem;
				img {
					position: relative;
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
		.content-02 {
			position: relative;
			width: 100%;
			margin-top: 7%;
			@include box-sizing(border-box);
			padding: 0 4%;
			.content-02__text {
				position: relative;
				width: 50%;
				margin-left: 25%;
				margin-top: 3rem;
				font-family: 'Nanum Barun Gothic';
				font-size: 1rem;
				color: $gray1;
				line-height: 1.8;
				text-align: center;
				word-break: keep-all;
				word-wrap: break-word;
			}
			.content-02__finder {
				position: relative;
				width: 100%;
				margin-top: 10%;
				@include flexbox();
				.finder-video {
					position: relative;
					width: 67%;
					display: inline-block;
					.finder-video__mp4 {
						position: relative;
						width: 100%;
						height: auto;
						display: block;
						border-radius: 1rem;
						@include box-shadow(0 5px 20px rgba(61, 61, 61, 0.3));
					}
				}
				.finder-text {
					position: relative;
					width: 33%;
					display: inline-block;
					.finder-text__title {
						position: relative;
						width: 100%;
						height: 9.5rem;
						@include box-sizing(border-box);
						padding-left: 25%;
						padding-top: 3rem;
						background-image: url('../../images/s-content-02-bg.png');
						background-repeat: no-repeat;
						background-size: 30%;
						background-position: 15% top;
						.finder-text__title-step {
							position: relative;
							width: 100%;
							font-family: 'Nanum Barun Gothic';
							font-size: 1rem;
							color: $gray1;
						}
						.finder-text__title-text {
							position: relative;
							width: 100%;
							font-family: 'Nanum Barun Gothic';
							font-size: 1.375rem;
							color: $gray1;
							margin-top: 1rem;
						}
					}
					.finder-text__line {
						position: relative;
						width: 75%;
						height: 1px;
						background-color: $gray1;
						display: block;
					}
					.finder-text__exp {
						position: relative;
						width: 50%;
						margin-left: 25%;
						font-family: 'Nanum Barun Gothic';
						font-size: 1rem;
						color: $gray1;
						line-height: 1.8;
						margin-top: 2rem;
						word-wrap: break-word;
						word-break: keep-all;
					}
				}
				&.right {
					.finder-text {
						.finder-text__line {
							margin-left: 25%;
						}
					}
				}
			}
		}
		.content-03 {
			position: relative;
			width: 100%;
			margin-top: 10%;
			@include box-sizing(border-box);
			padding-top: 8%;
			background-image: url('../../images/s-content-03-bg.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center top;
			.content-03__text {
				position: relative;
				width: 30%;
				margin-left: 35%;
				margin-top: 3rem;
				font-family: 'Nanum Barun Gothic';
				font-size: 1rem;
				color: white;
				line-height: 1.8;
				word-break: keep-all;
				word-wrap: break-word;
				text-align: center;
			}
			.content-03__video {
				position: relative;
				width: 64%;
				margin-top: 5%;
				margin-left: 18%;
				.video__mp4 {
					position: relative;
					width: calc(100% - 3.75rem);
					margin-left: 1.875rem;
					height: auto;
					display: block;
					@include box-sizing(border-box);
					padding-top: 1.875rem;
				}
				img {
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					right: 0;
				}
			}
			.content-03__collection {
				position: relative;
				width: 100%;
				margin-top: 10%;
				.collection-tab {
					position: relative;
					width: 100%;
					@include flexbox();
					.collection-tab__text {
						position: relative;
						width: 42%;
						display: inline-block;
						@include box-sizing(border-box);
						padding-left: 19.5%;
						padding-top: 4%;
						.collection-tab__text-title {
							position: relative;
							width: 100%;
							height: 4rem;
							font-family: 'Nanum Barun Gothic';
							font-size: 1.1rem;
							line-height: 4rem;
							font-weight: bold;
							color: $gray1;
							border-bottom: 1px solid $gray1;
						}
						.collection-tab__text-exp {
							position: relative;
							width: 67%;
							font-family: 'Nanum Barun Gothic';
							font-size: 1rem;
							line-height: 1.8;
							color: $gray1;
							word-wrap: break-word;
							word-break: keep-all;
							margin-top: 2rem;
						}
					}
					.collection-tab__img {
						position: relative;
						width: 58%;
						height: 22.75rem;
						display: inline-block;
						background-color: #202c32;
						@include flexbox();
						@include align-items(center);
						img {
							position: relative;
							width: 52%;
							margin-left: 24%;
							height: auto;
						}
					}
				}
				.collection-hover {
					position: relative;
					width: 100%;
					@include flexbox();
					margin-top: 7%;
					.collection-hover__img {
						position: relative;
						width: 53.6%;
						display: inline-block;
						@include box-sizing(border-box);
						padding-left: 16.3%;
						img {
							position: relative;
							width: 100%;
							height: auto;
							display: block;
						}
					}
					.collection-hover__text {
						position: relative;
						width: 46.4%;
						@include box-sizing(border-box);
						padding-right: 20%;
						padding-top: 4%;
						display: inline-block;
						.collection-hover__text-title {
							position: relative;
							width: 100%;
							height: 4rem;
							font-family: 'Nanum Barun Gothic';
							font-size: 1.1rem;
							line-height: 4rem;
							font-weight: bold;
							color: $gray1;
							border-bottom: 1px solid $gray1;
							text-align: right;
						}
						.collection-hover__text-exp {
							position: relative;
							width: 67%;
							margin-left: 33%;
							font-family: 'Nanum Barun Gothic';
							font-size: 1rem;
							line-height: 1.8;
							color: $gray1;
							word-wrap: break-word;
							word-break: keep-all;
							margin-top: 2rem;
						}
					}
				}
			}
		}
		.content-04 {
			position: relative;
			width: 100%;
			margin-top: 10%;
			@include box-sizing(border-box);
			padding: 7% 20% 16% 20%;
			background-image: url('../../images/s-content-04-bg.png');
			background-color: #e5dfc6;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center bottom;
			.content-04__text {
				position: relative;
				width: 50%;
				margin-left: 25%;
				font-family: 'Nanum Barun Gothic';
				font-size: 1rem;
				line-height: 1.8;
				color: $gray1;
				text-align: center;
				margin-top: 3rem;
				word-break: keep-all;
				word-wrap: break-word;
			}
			.content-04__video {
				position: relative;
				width: 100%;
				margin-top: 10%;
				.video__mp4 {
					position: relative;
					width: 100%;
					height: auto;
					display: block;
					border-radius: 1rem;
					@include box-shadow(0 5px 20px rgba(61, 61, 61, 0.3));
				}
			}
		}
		.content-05 {
			position: relative;
			width: 100%;
			height: 42vw;
			overflow: hidden;
			img {
				position: relative;
				width: 100%;
				height: auto;
				display: block;
				margin-top: -7%;
			}
			span {
				position: absolute;
				top: 32%;
				right: 12%;
				font-size: 2.85rem;
				font-family: 'Teko';
				color: #d5c791;
				letter-spacing: 5px;
			}
		}
		.banner {
			position: relative;
			width: 100%;
			height: 28vw;
			overflow: hidden;
			display: block;
			.banner-img {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					position: relative;
					width: 100%;
				}
			}
			.banner-text {
				position: absolute;
				width: 25%;
				height: 100%;
				top: 0;
				left: 68%;
				.banner-text__category {
					position: relative;
					width: 9.5rem;
					height: 1.5rem;
					margin-top: 7vw;
					img {
						position: relative;
						width: 100%;
					}
				}
				.banner-text__title {
					position: relative;
					font-size: 4rem;
					font-family: 'Teko';
					font-weight: 500;
					color: white;
					line-height: 0.9;
					letter-spacing: 7px;
					margin-top: 3rem;
				}
				.banner-text__goto {
					position: relative;
					width: 65%;
					height: 2rem;
					margin-top: 2rem;
					text-decoration: none;
					@include flexbox();
					@include align-items(center);
					.goto-text {
						position: relative;
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-size: 1.2rem;
						color: white;
						margin-right: 2rem;
					}
					.goto-arrow {
						position: relative;
						width: 2.4rem;
						height: 1.7rem;
						float: right;
						img {
							position: relative;
							width: 100%;
							display: block;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
	html {
		font-size: $laptop;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
	html {
		font-size: $laptop-s;
	}
}