@import '../../../common/stylesheets/base/color.scss';
@import '../../../common/stylesheets/base/font.scss';
@import '../../../common/stylesheets/base/mixin.scss';
@import '../../../common/stylesheets/base/variable.scss';
@import '../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: $bg;
}
.container {
	width: 100%;
	position: relative;
	overflow: hidden;
	.brief {
		position: relative;
		width: 92%;
		height: 25vw;
		margin-left: 4%;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		.brief-img {
			position: relative;
			width: 60%;
			height: 100%;
			margin-left: 43%;
			overflow: hidden;
			img {
				position: relative;
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.brief-info {
			position: absolute;
			top: 0;
			left: calc(100% / 12);
			width: calc((100% / 12) * 7);
			height: 100%;
			@include box-sizing(border-box);
			padding: 1% 0 1% 0;
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(center);
			.brief-info__category {
				position: relative;
				width: 9.5rem;
				height: 1.5rem;
				margin-top: 1.5rem;
				img {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.brief-info__title {
				position: relative;
				font-size: 4rem;
				font-family: 'Teko';
				font-weight: 500;
				color: white;
				line-height: 0.9;
				letter-spacing: 7px;
				margin-top: 2rem;
			}
			.brief-info__content {
				position: relative;
				width: 100%;
				height: 7rem;
				background-color: rgba(255, 255, 255, 0.7);
				@include box-sizing(border-box);
				padding: 0 2rem 0 2rem;
				@include flexbox();
				@include align-items(center);
				margin-top: 2rem;
				.info-content__text {
					width: 14%;
					margin-left: 2%;
					display: inline-block;
					&.purpose {
					}
					&.period {
						width: 32%;
					}
					&.skill {
						width: 50%;
					}
					.info-content__text-title {
						position: relative;
						width: 100%;
						font-size: 1rem;
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-weight: 300; 
						color: $gray1;
					}
					.info-content__text-body {
						position: relative;
						width: 100%;
						font-size: 1.2rem;
						font-family: 'Nanum Barun Gothic', sans-serif;
						color: $gray1;
						font-weight: 700;
						margin-top: 0.5rem;
					}
				}
			}
		}
	}
	.btn-wrapper {
		position: absolute;
		top: 60vh;
		left: 0;
		right: 0;
		width: 100%;
		height: 4rem;
		@include flexbox();
		&.sticky {
			position: fixed;
			top: -4rem;
			left: 0;
			background-color: $gray1;
			z-index: 9990;
			@include transform(translateY(4rem));
			@include transition(transform 0.3s ease, background-color 0.3s ease);
			.btn-tab {
				z-index: 9991;
				margin-left: 0;
				&:nth-of-type(1) {
					margin-left: 27.5%;
				}
				&.current {
					a {
						border: none;
					}
				}
				a {
					border: none;
					&:hover {
						border: none;
					}
					p {
						color: white;
					}
				}
			}
		}
		.btn-tab {
			width: 15%;
			height: 100%;
			margin-left: 2%;
			&:nth-of-type(1) {
				margin-left: 25.5%;
			}
			&.current {
				a {
					background-color: #ffb609;
					border: 1px solid #ffb609;
					p {
						color: white;
						font-weight: 400;
					}
				}
			}
			a {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: 1px solid $gray1;
				text-decoration: none;
				text-align: center;
				@include flexbox();
				@include align-items(center);
				&:hover {
					background-color: #ffb609;
					border: 1px solid #ffb609;
					p {
						color: white;
						font-weight: 400;
					}
				}
				p {
					width: 100%;
					text-decoration: none;
					color: $gray1;
					font-family: 'Nanum Barun Gothic', sans-serif;
					font-weight: 300; 
					font-size: 1rem;
				}
			}
		}
	}
	.contents {
		position: relative;
		width: 100%;
		margin-top: 13vw;
		.content {
			.content-title {
				position: relative;
				width: 25%;
				margin-left: 37.5%;
				&.left {
					width: calc(100% / 6);
					margin-left: calc(100% / 12);
					.content-title__line {}
					.content-title__subtitle {}
					.content-title__title {}
				}
				.content-title__line {
					position: relative;
					width: 11rem;
					height: 1px;
					margin-left: calc((100% - 11rem) / 2);
					display: inline-block;
					background-color: #ffb609;
					&.bottom {
						margin-top: -0.3rem;
					}
				}
				.content-title__subtitle {
					width: 100%;
					height: 0.7rem;
					text-align: center;
					font-family: 'Gotham';
					font-weight: 300;
   					font-style: normal;
					font-size: 1rem;
					line-height: 1;
					color: #ffb609;
					margin-top: 0.3rem;
				}
				.content-title__title {
					width: 100%;
					text-align: center;
					font-family: 'Teko';
					font-weight: 500;
					font-size: 2.85rem;
					line-height: 1;
					color: $gray1;
					letter-spacing: 5px;
					margin-top: 0.5rem;
				}
			}
		}
		.content-01 {
			position: relative;
			width: 100%;
			height: 41vw;
			background-image: url('../../images/content-01-bg.png');
			background-size: cover;
			background-repeat: no-repeat;
			@include box-sizing(border-box);
			padding: 0 4% 0 4%;
			@include flexbox();
			.content-01__text {
				position: relative;
				width: 25%;
				height: 100%;
				margin-left: calc(100% / 6);
				display: inline-block;
				.content-01__text-logo {
					position: relative;
					width: 13rem;
					height: 5rem;
					display: inline-block;
					margin-top: 41%;
					img {
						position: relative;
						width: 100%;
						height: auto;
					}
				}
				.content-01__text-body {
					position: relative;
					width: 80%;
					margin-top: 15%;
					font-size: 1rem;
					line-height: 1.8;
					color: white;
					font-family: 'Nanum Barun Gothic', sans-serif;
					word-break: keep-all;
					word-wrap: break-word;
				}
			}
			.content-01__img {
				position: relative;
				width: 50%;
				height: 100%;
				display: inline-block;
				img {
					position: relative;
					width: 80%;
					height: auto;
					margin-top: 5rem;
				}
			}
		}
		.content-02 {
			position: relative;
			width: 100%;
			@include box-sizing(border-box);
			padding: 7rem 4%;
			.content-02__concept {
				width: 100%;
				position: relative;
				@include flexbox();
				margin-top: 5rem;
				.content-02__concept-block {
					position: relative;
					display: inline-block;
					width: 25%;
					&:nth-of-type(1) {
						margin-left: 25%;
					}
					span {
						font-family: 'Gotham';
						font-weight: 300;
	   					font-style: normal;
						font-size: 1.5rem;
						line-height: 1;
						color: #ffb609;
					}
					.concept-block__title {
						width: calc((100% / 3) * 2);
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-weight: bold;
						font-size: 1.5rem;
						line-height: 1.25;
						color: #ffb609;
						margin-top: 0.5rem;
					}
					.concept-block__body {
						width: calc((100% / 3) * 2);
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-weight: 300;
						font-size: 1rem;
						line-height: 1.8;
						color: $gray1;
						word-break: keep-all;
						word-wrap: break-word;
						margin-top: 2rem;
					}
				}
			}
		}
		.content-03 {
			position: relative;
			width: 100%;
			background-color: #dad5c9;
			overflow: hidden;
			.content-title {
				.content-title__line {
					margin-top: 7rem;
					background-color: $gray1;
				}
				.content-title__subtitle {
					color: $gray1;
				}
			}
			.content-03__grid-01 {
				position: relative;
				width: 100%;
				margin-top: -14rem;
				.grid-01__underimg {
					position: relative;
					width: 100%;
					height: auto;
					display: block;
				}
				.grid-01__topimg {
					position: absolute;
					width: 100%;
					height: auto;
					bottom: 0;
					left: 0;
					right: 0;
					display: block;
				}
			}
			.content-03__grid-02 {
				position: relative;
				width: 100%;
				height: 34vw;
				margin-top: 4rem;
				@include box-sizing(border-box);
				padding: 0 4%;
				@include flexbox();
				overflow: hidden;
				.grid-02__block {
					width: 50%;
					margin-left: calc(100% / 12);
					display: inline-block;
					&.right {
						width: 25%;
					}
					.grid-02__block-title {
						position: relative;
						width: 100%;
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-size: 1.2rem;
						color: $gray1;
						font-weight: bold;
					}
					.grid-02__block-img {
						position: relative;
						width: 100%;
						margin-top: 1.5rem;
						img {
							position: relative;
							width: 100%;
							@include box-shadow(0 10px 30px rgba(63, 63, 63, 0.4));
						}
					}
					.grid-02__block-sub {
						position: relative;
						width: 100%;
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-size: 1rem;
						color: $gray1;
						margin-top: 1.5rem;
					}
				}
			}
		}
		.content-04 {
			position: relative;
			width: 100%;
			.content-title {
				.content-title__line {
					margin-top: 9rem;
				}
			}
			.content-04__detail {
				position: relative;
				width: 75%;
				display: block;
				margin-top: 4rem;
				.detail-img {
					position: relative;
					width: 100%;
					display: block;
					margin-top: 3rem;
					&.down {
						margin-left: 29.4%;
						margin-bottom: 7rem;
					}
				}
			}
		}
		.content-05 {
			position: relative;
			width: 100%;
			background-color: #1f1f1f;
			@include box-sizing(border-box);
			padding: 9rem 4%;
			.content-title {
				.content-title__title {
					color: #ffb609;
				}
			}
			.content-05__color {
				position: relative;
				width: 100%;
				@include box-sizing(border-box);
				padding-left: calc(100% / 6);
				padding-right: calc(100% / 6);
				margin-top: 4rem;
				img {
					position: relative;
					width: 100%;
					height: auto;
					display: block;
				}
			}
			.content-05__deco {
				position: absolute;
				width: 4.5rem;
				height: 60rem;
				left: 12%;
				top: -22%;
				img {
					position: relative;
					width: 100%;
					height: auto;
					display: block;		
				}
			}
		}
		.content-06 {
			position: relative;
			width: 100%;
			background-color: #1f1f1f;
			@include box-sizing(border-box);
			padding: 4rem 4% 9rem 4%;
			background-image: url('../../images/content-06-2.png');
			background-size: 57%;
			background-position: 100% 81%;
			background-repeat: no-repeat;
			.content-title {
				.content-title__title {
					color: #ffb609;
				}
			}
			.content-06__typo {
				position: relative;
				width: 100%;
				@include box-sizing(border-box);
				padding-left: calc(100% / 6);
				padding-right: calc(100% / 6);
				margin-top: 4rem;
				img {
					position: relative;
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
		.content-07 {
			position: relative;
			width: 100%;
			@include box-sizing(border-box);
			padding: 9rem 4%;
			.content-07__icon {
				position: relative;
				width: 60%;
				margin-left: 20%;
				margin-top: 6rem;
				img {
					position: relative;
					width: 100%;
					display: block;
					margin-top: 4rem;
				}
			}
		}
		.banner {
			position: relative;
			width: 100%;
			height: 28vw;
			margin-top: 4rem;
			overflow: hidden;
			display: block;
			.banner-img {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					position: relative;
					width: 100%;
				}
			}
			.banner-text {
				position: absolute;
				width: 25%;
				height: 100%;
				top: 0;
				left: 68%;
				.banner-text__category {
					position: relative;
					width: 9.5rem;
					height: 1.5rem;
					margin-top: 7vw;
					img {
						position: relative;
						width: 100%;
					}
				}
				.banner-text__title {
					position: relative;
					font-size: 4rem;
					font-family: 'Teko';
					font-weight: 500;
					color: white;
					line-height: 0.9;
					letter-spacing: 7px;
					margin-top: 3rem;
				}
				.banner-text__goto {
					position: relative;
					width: 65%;
					height: 2rem;
					margin-top: 2rem;
					text-decoration: none;
					@include flexbox();
					@include align-items(center);
					.goto-text {
						position: relative;
						font-family: 'Nanum Barun Gothic', sans-serif;
						font-size: 1.2rem;
						color: white;
						margin-right: 2rem;
					}
					.goto-arrow {
						position: relative;
						width: 2.4rem;
						height: 1.7rem;
						float: right;
						img {
							position: relative;
							width: 100%;
							display: block;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
	html {
		font-size: $laptop;
	}
}